:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: "Outfit", sans-serif;
}

.container {
    background-color: var(--main-bg);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    height: auto;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 1.25em;
}

.description {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(178, 100%, 50%);
}

.days {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

.first_img {
    border-radius: 10px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.price-and-days {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


svg {
    height: 20px;
    width: 25px;
}

.line {
    border-top: 1px solid var(--line);
}

.creator-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.creator_name {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.creator-pic {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 15px;
}

.links {
    text-decoration: none;
    color: white;
}